.calendar {
  display: block;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 10px;
  background: #fff;
}

.calendar .header{
   margin-bottom: "1em";
}

.navigation {
  display: flex;
}


.navigation .pagination.menu{
 margin-right: 10px;
}

#app {
  min-height: 100%;
  background: #94A1A6;
}


/* Table layout */



